# Docker options
VOLUMES=./volumes
DEPLOY=./deploy
DOCKER_REPO=

# PostgreSQL DB options
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_DB=app_db
POSTGRES_PORT=5432

BACKEND_CONTEXT=./backend
FRONTEND_CONTEXT=./frontend

CERTBOT_EMAIL=put a contact mail here